body{
  font-family: Helvetica,Arial,sans-serif;
}

.cs-most-of-component{
  display: flex;
}
.cs-Juan-ref{
  /* display: flex; */
  height: 70px;
  display: table;
  color: #5d5d5d;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  /* display: block; */
  clear: both;
}
.cs-stars {
  flex-wrap: nowrap;
  flex-direction: row;
  grid-row: 1;
  scale: (0.8);
}

.cs-grid {
  /* padding-left: 10px; */
  border:none;
  background: white;
  display: flex;
  /* flex-wrap: wrap; */
  width: 100px;
  height: 97px;
  background-color: rgba(0,0,0,.5);
}
.cs-grid-modal{
  border:none;
  background: transparent;
  /* display: flex; */
  flex-direction: column;
  columns: 2;
  grid-row: auto;

  /* display: flex; */
  /* flex-wrap: wrap; */

  width: 200px;
  /* height: 100px; */  


}
.more{
  align-content: center;
  justify-content: center;
}
.cs-images {  
  /* flex-direction: row-reverse; */
  overflow: hidden;
  align-content: center;
  /* justify-content: center; */
  /* position: relative; */
  width: 110%;
  height: 95px;

}
.cs-subJuan{
  display: table-cell;
  /* width: 39%; */
  margin-bottom: 5px!important;
  text-align: center!important;
}
.cs-images:hover {
  /* background:black; */
 border: 1px solid black;
  }
.cs-icons{
  align-content: center;
  width: 110%;
  height: 100%;
}
.cs-modal-image-bar {
  border:none;
  background: white;
  display: flex;
  flex-direction: column;
  columns: 2;
  height: 100px;
  width: 85px;

}
.cs-modal-outer{
  /* margin: auto; */
  justify-content: left;
  padding-top: 5%;
  padding-left: 5%;
  width: 39%;
  height: auto;
  max-width: 550px;
  border: 20px;


  /* margin: auto; */
  /* align-content: center; */
}
.cs-modal {
  position: absolute;
  display: flex;
  justify-content: left;
  /* height: 700px;
  width: 1000px; */
  overflow: hidden;
  /* margin: auto; */
  /*padding-left: 50px; */
  background-color: rgba(255, 255, 255, 0.7);


  /* justify-content: right; */
  /* justify-content: left; */
  /* justify-content: center; */
  /* position: fixed; */
}

.cs-zoom{
  flex: auto;
  flex-direction: column;
  height: 34px;
  width: 34px;
  min-height: 34px;
  max-height: 34px;
  display: block;
  margin-bottom: -1px;
  /* padding: 0 15px; */
  align-items: flex-start;
  text-align: center;
  cursor: pointer;
  /* background-image: none; */
}

.cs-zoom-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: .5;
  z-index: 35;
}

.product-image {
  z-index: -10;
  /* transform: matrix(1, 0, 0, 1, 0, 0);  */
  overflow: hidden;
  backface-visibility: hidden; 
  transform-origin: 50% 50%; cursor: move; 
  transition: transform 200ms ease-in-out 0s;
  width: 400px;
  height: 400px;
}

.cs-modal-focus-div{
  overflow: hidden;
  width: 400px;
  height: 400px;
  display: flex;
  position: relative;
  /* width: 900px;
  height: 500px; */
  z-index: 0;
}
.cs-main-image-modal-button{
  min-height: 450px;
  max-height: 485px;
  max-width: 485px;
  /* min-width: 485; */
  /* border:5px; */
  border:none;
  background: transparent;
  background: white;
}